ul li:nth-of-type(3),
ul li:nth-of-type(4) {
  color: red;
}

ol li:nth-of-type(even) {
  font-size: 24px;
}


body > div {
  width: 100px;
  height: 100px;
  background-color: red;
}

body > div p:first-of-type {
    font-style: italic;
}

div:nth-of-type(2) p:nth-of-type(2), 
div:nth-of-type(2) p:nth-of-type(3) {
    color: white;
}

button:hover {
    background-color: blue;
}

button {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

button:active {
    border-radius: 0;
    width: 200px;
    height: 150px;
}