
* {
  font-size: small;
}


img {  width: 50px;
  height: 50px;
  position: absolute;
  top: 1px;
  right: 1 px;
  border-radius: 30px;
}

nav {



text-align: center;

  box-shadow: 12px 12px 6px grey;

  height: 2.5em;

  margin-bottom: 2em;



}


nav a {  padding: 5px;



  margin: 5px;

  text-decoration: none;

  font: bolder;

  font-size: larger;



}




.box h3 {

  background-color: beige;

}



